html{scroll-behavior: smooth;}
section{padding: 100px 0;}
.flip {transform: rotateY(180deg);transition: transform 0.5s;}
.back{transform: rotateY(180deg);}
.features-card .hidden {display: none;}
.features-card .block {display: block;}
.back:hover, .front:hover{cursor: pointer;}
.gallery-slider .slick-slide {padding: 0 20px;}
.dropdown-custom button{width: 100%;background-color: black;text-align: left;}
.dropdown-custom button span{
    justify-content: space-between;
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    padding: 20px 30px;
    font-family: Butler_Bold;
    letter-spacing: 5px;
    border: 1px solid black;
}
.dropdown-custom button:focus{outline: none;--tw-ring-opacity:none}
.dropdown-custom .flex.items-center.rounded-md {
    display: flex;
    justify-content: space-between!important;
    width: 100%;
}
.dropdown-custom .z-10.rounded.divide-y.divide-gray-100.shadow {
    width: 75%!important;
    margin: 0 auto;
    z-index: 20;
}
.heroimageslider .slick-prev:before, .heroimageslider .slick-next:before,
.heroslider .slick-prev:before, .heroslider .slick-next:before{
    font-size: 45px;
}
.heroslider .slick-prev, .heroslider .slick-next{
    top: 60%;
}
.heroimageslider .slick-prev, .heroimageslider .slick-next{
    top: 80%;
}
.heroimageslider .slick-prev,
.heroslider .slick-prev {
    left: 10%;
    z-index: 9;
}
.heroimageslider .slick-next,
.heroslider .slick-next {
    right: 10%;
}
.gallery-slider swiper-container::part(button-prev),
.gallery-slider swiper-container::part(button-next) {
    background-color: #BDA37F;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 10px;
    color: #fff;
    top: 95%;
}
.fac-slider swiper-container::part(button-prev),
.fac-slider swiper-container::part(button-next)
{
    background-color: #BDA37F;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 10px;
    color: #fff;
    top: 60%;
}
.gallery-slider swiper-container::part(button-prev) {
    left: 20%;
}
.gallery-slider swiper-container::part(button-next) {
    right: 20%;
}
.fac-slider swiper-container::part(button-prev) {
    left: 5%;
}
.fac-slider swiper-container::part(button-next) {
    right: 5%;
}
.container-progress {
    margin: 30px auto;
    width: 100%;
    text-align: center;
    display: none;
}

.progress2 {
    border-radius: 30px;
}

.progress-bar2 {
    height: 15px;
    border-radius: 30px;
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;  
    transition-property: width, background-color;    
}

.progress-moved .progress-bar2 {
    width: 100%; 
    background-color: #BDA37F;  
    animation: progressAnimation 9s infinite;
}

@keyframes progressAnimation {
0%   { width: 5%; background-color: #BDA37F;}
100% { width: 100%; background-color: #BDA37F; }
}
@media (max-width: 960px){
    .slick-slide img.hidden{display: none !important;}
}
@media (max-width: 500px){
    section{padding: 50px 0;}
    .dropdown-custom button span{font-size: 16px;letter-spacing: 1px;padding: 10px 15px; line-height: 1;text-transform: capitalize;}
    .dropdown-custom button{font-size: 15px;}
    .dropdown-custom .z-10.rounded.divide-y.divide-gray-100.shadow {
        width: 75%!important;
        margin: 0 auto;
        z-index: 20;
    }
    .gallery-slider .slick-slide {padding: 0 10px;}
    .heroslider .slick-prev, .heroslider .slick-next{
        top: 50%;
    }
    .heroimageslider .slick-prev, .heroimageslider .slick-next{
        top: 80%;
    }
    .fac-slider swiper-container::part(button-prev), .fac-slider swiper-container::part(button-next) {
        width: 20px;
        height: 20px;
    }
    .gallery-slider swiper-container::part(button-prev),
    .gallery-slider swiper-container::part(button-next) {
        background-color: #BDA37F;
        width: 20px;
        height: 20px;
    }
    .gallery-slider swiper-container::part(button-prev) {
        left: 1%;
    }
    .gallery-slider swiper-container::part(button-next) {
        right: 1%;
    }
}

.sticky-icons {
    position: fixed;
    bottom: 5%;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    right: 1%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px rgb(182, 182, 182);
    -webkit-animation: pulse 1.5s infinite;
    -moz-animation: pulse 1.5s infinite;
    -o-animation: pulse 1.5s infinite;
    animation: pulse 1.5s infinite;
}

.sticky-icons:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}

.sticky-icons :hover{cursor: pointer;}
.sticky-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    background: #0D9F16;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0;
    position: relative;
    transform: rotate(30deg);
}

.sticky-icon img{width: 70%;object-fit: contain;}
.sticky-icons p{
    color: #0a6b10;
    font-size: 15px;
    margin-bottom: 0px;
    padding: 0;
    line-height: 1.2;
}

.sticky-icon::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #0d9f16;
    position: absolute;
    bottom: -3px;
    left: -17px;
    right: 0;
    margin: 0 auto;
    transform: rotateZ(31deg);
}

.rotate-image{
    transform: rotate(-25deg);
}
@-webkit-keyframes pulse {
    0% {transform: scale(0.9);}
    70% {transform: scale(1);box-shadow: 0 0 0 30px rgba(90, 153, 212, 0);}
    100% {transform: scale(0.9);box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);}
}
@-moz-keyframes pulse{
    0% {transform: scale(0.9);}
    70% {transform: scale(1);box-shadow: 0 0 0 30px rgba(90, 153, 212, 0);}
    100% {transform: scale(0.9);box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);}
}
@-o-keyframes pulse{
    0% {transform: scale(0.9);}
    70% {transform: scale(1);box-shadow: 0 0 0 30px rgba(90, 153, 212, 0);}
    100% {transform: scale(0.9);box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);}
}
@keyframes pulse{
    0% {transform: scale(0.9);}
    70% {transform: scale(1);box-shadow: 0 0 0 30px rgba(90, 153, 212, 0);}
    100% {transform: scale(0.9);box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);}
}

@media(max-width:500px){
    .sticky-icons p{font-size: 12px;}
    .sticky-icon{width: 35px;height: 35px;}
}
