
.myCustomSlide .swiper-button-next, .myCustomSlide .swiper-button-prev{
    background-color: #BDA37F;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 10px;
}
.myCustomSlide .swiper-button-next svg, .myCustomSlide .swiper-button-prev svg{
    color: #fff;
    width: 60%;
    height: 60%;
}